
header {
  background-color: #2f0042;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  color: #ffff;
  height: 120px;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  img {
    height: 100px;
    width: 100px;
    /* margin-left: 25px; */
  }
}


@media (min-width: 768px) {
  header {
    height: 520px;
    flex-direction: column;
  }
}



/* keep header 400px visible for desktop */
/* header {
  background-color: #2f0042;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  color: #ffff;
  height: 520px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
} */