
header {
  background-color: #2f0042;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  color: #ffff;
  height: 120px;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  img {
    height: 100px;
    width: 100px;
   
  }
}

@media (min-width: 768px) {
  header {
    height: 520px;
    flex-direction: column;
  }
}

@media (min-width: 1025px) {
  header {
    margin-top: 260px;
    width: 33.333%;
    width: calc(100%/ 3);
    margin-left: 30px;
  }
}
