
.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.error-box {
  display: flex;
  align-self: center;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 50px;
  font-weight: 600;
  color: transparent;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease;
}

.error-box.show {
  max-height: 50px;
  border: 5px solid;
  border-color: red;
  color: red;
}

.error-box p {
  margin: 0%;
  display: flex;
  align-self: center;
}

.new-tweet form {
  align-self: center;
  width: 97%;
}

#tweet-text {
  background-color: #f4f1ec;
  border-style: hidden hidden solid;
  border-width: 5px;
  border-color: #545149;
  overflow: auto;
  resize: none;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 50px;
}

#tweet-text::placeholder {
  font-weight: 600;
}

/* // hides label so you dont see it but is still available for screen readers *1 */
label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.button-box {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.button-box button {
  color: #FFFFFF;
  background-color: #4056A1; 
  border-color: #4056A1;
}

.button-box button:hover {
  border: 3px solid  #0d205c;
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.2); /* Creates an inset shadow */
  transform: scale(0.98);
}

@media (min-width: 723px) and (max-width: 950px) {
  .error-box.show {
    font-size: 18px;
  }
}

@media (min-width: 400px) and (max-width: 722px) {
  .error-box.show {
    font-size: 10px;
  }
}

@media (max-width: 399px) {
  .error-box.show {
    font-size: 8px;
  }
}

@media (min-width: 1025px) {
  .new-tweet {
    margin-top: 170px;
  }
}


