
.tweet-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 50px;
}

article {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 5px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 1%;
}

article:hover {
  box-shadow: 10px 5px 5px #c9cadf;
}

.content {
  display: flex;
  font-weight: 600;
  border-style: hidden hidden solid;
  margin-bottom: 5px;
  margin-top: 20px;
}

article header {
  background-color: #f4f1ec;
  color:  #545149;
  background-image: none;
  height:fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  
}

article header h3 {
  margin-top: 0%;
  margin-bottom: 0%;
}

article header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag {
  color: #c7cbe3;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

footer div .fa-solid {
  color: #47559e;
}

footer div .fa-solid:hover {
  color: #ca9824;
}



