
/* mobile rules and common */
.tweet-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 50px;
  width: 90%;
}

article {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 1%;
}

article:hover {
  box-shadow: 10px 5px 5px #c9cadf;
}

.content {
  display: flex;
  font-weight: 600;
  border-style: hidden hidden solid;
  margin-bottom: 5px;
  margin-top: 20px;
}

.content p {
  display: flex;
  margin: 2px;
  flex-wrap: wrap;
  word-break: break-all;
  white-space: normal;
}

article header {
  background-color: #f4f1ec;
  color:  #545149;
  background-image: none;
  height:fit-content;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

article header h4 {
  margin-top: 0%;
  margin-bottom: 0%;
  display: flex;
  align-self: start;
  font-size: 19px;
}

article header div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

article header .profile-pic {
  height: 50px;
  width: 50px;
}

article header div .fa-solid {
  color:  #545149;
}

.tag {
  color: #c7cbe3;
  position: absolute;
  right: 0px;
  bottom: .5px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

footer div .fa-solid {
  color: #47559e;
}

footer div .fa-solid:hover {
  color: #ca9824;
}

@media only screen and (min-width: 520px) {
 
  article header {
    flex-direction: row;
  }

  article header h4 {
    font-size: 24px;
  }

  article header div {
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .tag {
    position: static;
  }

}
